/* ************************************************* */
/* BELOW 1300PX (Smaller desktops) *
/* ************************************************* */
@media (max-width: 81.25em) {
  .container {
    padding: 0rem 4.2rem;
  }

  .hero-section {
    margin-bottom: 24rem;
  }
}

/* ************************************************* */
/* BELOW 1200PX (Tablets Landscape) *
/* ************************************************* */
@media (max-width: 75em) {
  .container {
    padding: 0rem 3rem !important;
  }

  .hero-section {
    margin-bottom: 18rem;
  }

  .list-courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-courses {
  margin-bottom: 14rem;
}

.course {
  gap: 3.2rem;
}

/* ************************************************* */
/* BELOW 980PX (Tablets) *
/* ************************************************* */
@media (max-width: 61.25em) {
  .course-list-item.list-cta:hover {
    background-image: url("../assets/card-photo-tablet.png");
    background-size: cover;
    background-position: center;
  }

  .hero-img {
    top: 0;
    right: 0;
    width: 50%;
    height: 70vh;
    background-image: url("../assets/image-hero-tablet.png");
    background-position: bottom left;
  }

  .hero-section {
    margin-bottom: 12rem;
  }
}

/* ************************************************* */
/* BELOW 800PX (Mobiles Landscape) *
/* ************************************************* */
@media (max-width: 50em) {
  .container {
    padding: 0rem 2.4rem !important;
  }

  .navbar {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-text {
    gap: 6rem;
  }
}

/* ************************************************* */
/* BELOW 640PX (Mobiles) *
/* ************************************************* */
@media (max-width: 40em) {
  html {
    font-size: 90%;
  }

  .container {
    padding: 0rem 1.4rem !important;
  }

  .logo,
  .btn-navbar-cta,
  .btn-footer-cta {
    transform: scale(0.8);
  }

  .hero-img {
    position: relative;
    background-image: url("../assets/image-hero-mobile.png");
    background-position: center;
    background-size: 435px 409px;
    height: 386px;
    width: 100%;
    margin: auto;
  }
  .section-courses {
    margin-bottom: 8rem;
  }

  p {
    font-size: 2.4rem !important;
  }

  .hero-container {
    width: 100%;
  }

  .course {
    gap: 1.8rem;
  }

  .course-list-item.list-cta {
    height: 25rem;
    font-size: 3.6rem;
  }

  .list-courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-items {
    padding: 1rem 0;
    transform: scale(0.8);
    justify-content: space-between;
  }
}
